body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
* {
  box-sizing: border-box;
}
.custom-bg-yellow {
  background-color: rgb(252, 210, 50);
  box-shadow: 0 4px 10px -8px rgba(0, 0, 0, 0.28);
}
.custom-navbar-toggler {
  font-size: 60px;
  border: none;
  background-color: transparent;
}
nav .custom-button {
  background-color: rgb(233, 16, 9);
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  border: 1px solid rgb(233, 16, 9);
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
}
nav .custom-button:hover {
  background-color: black;
  color: rgb(252, 210, 50);
  border: 1px solid transparent;
  transition: all 0.2s ease;
}
.offcanvas-title {
  color: transparent !important;
}
.bg-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("./images/img-1.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70vh;
}

.cards img {
  width: 100%;
  display: block;
}
.bg-yellow {
  background-color: #ffc107;
}
.custom-container {
  width: 80%;
  margin: 0 auto;
}

.title {
  padding: 30px;
}
.flex-grid {
  display: flex;
  margin-right: -20px;
  flex-wrap: wrap;
}
.custom-card {
  flex-basis: 33.333%;
}
.card-content {
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.28);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.custom-card p {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  padding: 0 10px;
}
.card-content:hover {
  transform: translateY(-10px);
}
.custom-card .btn {
  color: #fff;
  background-color: red;
  border: 1px solid white;
  padding: 10px 25px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  text-decoration: none;
  display: inline-block;
}
.custom-card .btn:hover {
  color: black;
  background-color: #ffc107;
}
.btn-dark:hover {
  color: #ffc107 !important;
  background-color: black !important;
}
input[type="checkbox"] {
  display: none;
}
.filters {
  width: 100%;
  background-color: #302f38;
}
.filter i {
  color: #302f38;
  font-size: 2rem;
  transition: all 0.2s ease;
  flex-basis: 15%;
  text-align: right;
}
.filter {
  display: flex;
  align-items: center;
  background-color: #302f38;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.active {
  background-color: #e91009;
}
select option:hover {
  box-shadow: 0 0 10px 100px red inset !important;
  color: white;
}
form .custom-button {
  background-color: rgb(233, 16, 9);
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  border: 1px solid rgb(233, 16, 9);
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  margin-top: 30px;
}
.was-validated .form-control:invalid {
  background-image: none !important;
}
.was-validated .form-select:invalid:not([multiple]):not([size]) {
  background-image: none !important;
}
.btn-container {
  display: none;
}
@media (max-width: 990px) {
  .offcanvas-body a {
    color: white !important;
  }
}
@media (max-width: 768px) {
  .custom-card {
    flex-basis: 50%;
  }
}
@media (max-width: 568px) {
  .custom-card {
    flex-basis: 100%;
    display: none;
  }
  .custom-card:nth-child(-n + 6) {
    display: block;
  }
  .btn-container {
    display: block;
  }
}
