body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: rgb(218, 218, 218, 1);
  background: linear-gradient(
    180deg,
    rgba(131, 234, 177, 0.7) 10%,
    rgba(75, 124, 243, 0.7) 70%
  );
}
* {
  box-sizing: border-box;
}
.sticky-top {
  top: 50px;
}
a {
  cursor: pointer;
}
/* .card-image img {
  width: 100%;
  display: block;
} */
/* {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
} */
.bg-header {
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 8px 24px 0px rgba(66, 53, 107, 0.08);

  backdrop-filter: blur(5px);

  background: linear-gradient(
      180deg,
      rgba(118, 79, 240, 0.4) 10%,
      rgba(118, 79, 240, 0) 70%
    ),
    radial-gradient(
        200.39% 673.83% at 3.67% 23.83%,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0) 70%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.text-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}
.nav-link {
  color: #4826b9 !important;
}
.btn-custom-header {
  background-color: transparent;
  color: #4826b9;
  padding: 4px 16px;
  border-radius: 10px;
  border: 1.6px solid rgb(13, 5, 37);
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.hero-banner {
  height: 100vh;
}
p {
  color: #152347;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.card-overlay h3 {
  color: #42356b;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.bg-purple {
  background-color: rgba(153, 70, 243, 0.4);
}
.bg-blue {
  background: rgba(75, 124, 243, 0.4);
}
.bg-green {
  background-color: rgba(131, 234, 177, 0.6);
}
.title h1 {
  font-weight: 900;
  font-size: 80px;
  line-height: 88px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 2px 3px 2px rgba(118, 79, 240, 0.3);
}
.custom-container {
  width: 90%;
  margin: 0 auto;
}

.title {
  padding: 30px;
}
.flex-grid {
  display: flex;
  margin-right: -20px;
  flex-wrap: wrap;
}
#cards-container {
  display: flex;
  margin-right: -20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.custom-card {
  flex-basis: 33.333%;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-header h4 {
  color: #152347;
  font-weight: 700;
}
.card-header img {
  width: 100px;
  height: 100px;
}
.card-content,
.discussion-content {
  border-radius: 16px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.comment-cards {
  background-color: transparent;
  border: 2px solid rgba(21, 35, 71, 0.5);
  border-radius: 16px;
}

.еxperiances-post {
  border-radius: 16px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.1);
  border: 2px solid white;
  border-bottom: none;
}
.custom-card p {
  color: #152347;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  padding: 0 20px;
}

.custom-button {
  width: 80%;
  padding: 0 8px;
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid white;
  background: #ffffff;
  opacity: 0.4;

  box-shadow: 0px 8px 16px 0px rgba(66, 53, 107, 0.2);
}
.filters {
  width: 80%;
}
.filters button {
  text-decoration: none;
  color: #71788a;
  font-size: 36px;
  line-height: 48px;
  font-weight: 900;
}
button.active {
  color: #42356b;
  border: none;
}
.pills {
  width: 80%;
  gap: 8px;
}
.custom-btn {
  padding: 0 10px;
  background-color: rgb(255, 255, 255, 0.4);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.active {
  padding: 0 10px;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.content-card {
  /* width: 33.333%; */
  flex-basis: 23.333%;
  border-radius: 8px;
  margin-right: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.28);
  position: relative;
  display: inline-block;
}
.card-image img {
  display: block;
  width: 100%;
  height: auto;
}
.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  border-top: 2px solid #ffffff66;
}
.btn-login {
  border: 1px solid #4826b9;
  border-radius: 3px;
  padding: 5px 2px;
  color: #152347;
  background-color: white;
}
h5 {
  display: flex;
  flex-direction: row;
  width: 70%;
}
h5:before,
h5:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
  color: #4826b9;
}
h5:before {
  margin-right: 10px;
}
h5:after {
  margin-left: 10px;
}
h5 span {
  color: white;
}
form i {
  margin-left: -30px;
  cursor: pointer;
}
footer a.nav-link {
  color: white !important;
}
.еxperiances-share {
  border: 1px solid white;
  border-radius: 16px;
}
.custom-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #42356b;
}
*:focus {
  outline: none !important;
}
.experienceForm button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 12px;
  box-shadow: none;
}
.custom-footer {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(66, 53, 107, 0.8) 0%,
    rgba(153, 70, 243, 0.16) 100%
  );
}

@media (max-width: 768px) {
  .custom-card {
    flex-basis: 50%;
  }
}
@media (max-width: 568px) {
  .custom-card {
    flex-basis: 100%;
  }
}
